<template>
    <div class="yj-card-champion-info">
        <div class="photo"><img :src="photoPath" :alt="championName"/></div>
        <div class="title">{{championName}}</div>
        <div class="characteristics">{{championCharacteristics}}</div>


    </div>
</template>
<script>
    export default {
        props: {
            photoPath : {
                type : String,
                required : true
            },
            championName: {
                type : String,
                required : true
            },
            championCharacteristics : {
                type : String,
                required : true
            }
        }

    }
</script>
