<template>
  <div>
    <section>
        <card-champion-info
            v-for="(champ,index) in champions"
            v-bind:key="index"
            v-bind:photo-path="champ.photoName"
            v-bind:champion-name="champ.championName"
            v-bind:champion-characteristics="champ.championCharacteristics"
        />
    </section>
  </div>
</template>

<script>
export default {
    data() {
        return {
            champions :[
                {
                    photoName: 'image/champion_1.jpg',
                    championName: '징크스',
                    championCharacteristics: '징크스임 징크스임 징크스임 징크스임'
                },
                {
                    photoName: 'image/champion_is.jpg',
                    championName: '이즈리얼',
                    championCharacteristics: '이즈리얼임 이즈리얼임 이즈리얼임'
                },
                {
                    photoName: 'image/champion_Jhin.jpg',
                    championName: '진',
                    championCharacteristics: '진 진 진 진'
                },
                {
                    photoName: 'image/champion_kt.jpg',
                    championName: '케이틀린',
                    championCharacteristics: '케이틀린 케이틀린 케이틀린'
                }

            ]
        }
    }

};
</script>

